:root {
  color-scheme: dark;
  --auto-grid-min-size: 16rem;
  --dark-accent-color: #c0c0c0;
  --dark-background-color: 0 0 0;
  --border-radius: 8px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* toggle */

/* Utitlity Classes */
.container {
  margin: 20px auto;
  width: 70vw;
}

.complete {
  position: relative;
}

.complete::before {
  content: "✔";
  position: absolute;
  right: 12px;
  bottom: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #49bd4e; /* accessible green */
  pointer-events: none;
  border: 1px solid var(--dark-accent-color);
  border-radius: 50px;
  width: 25px;
  text-align: center;
}

.ip {
  position: relative;
}

.ip::before {
  content: "✕";
  position: absolute;
  right: 12px;
  bottom: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: bold;
  color: #c62828; /* accessible red */
  pointer-events: none;
  border: 1px solid var(--dark-accent-color);
  border-radius: 50px;
  width: 25px;
  text-align: center;
}

/* Toggle button */
.toggle-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background-color: #000;
  color: #ffffff;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.toggle-btn:hover {
  background-color: var(--dark-accent-color);
}

/* Base styles */
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  transition:
    background-color 0.3s,
    color 0.3s;
}
header.primary {
  & h1 {
    font-size: 3rem;
    margin: 0;
  }
}
main {
  & header {
    border-bottom: 1px solid var(--dark-accent-color);
    text-align: right;
    margin-bottom: 10px;

    & h2 {
      float: left;
    }

    & .legend {
      display: inline-block;
      padding-top: 27px;

      & div {
        display: inline-block;
        padding-right: 40px;
        margin-bottom: 10px;
      }

      & .complete::before {
        right: 8px;
        bottom: -12px;
      }

      & .ip::before {
        right: 8px;
        bottom: -12px;
      }
    }
  }
}
#assignment-grid {
  clear: both;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  gap: 20px;
  border: 1px solid var(--dark-accent-color);
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: rgb(var(--dark-background-color) / 0.4);

  & a {
    color: #ffffff;
    text-decoration: none;
  }

  & article {
    border: 1px solid var(--dark-accent-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    background-color: rgb(var(--dark-background-color) / 0.2);

    & h2 {
      color: #fff;
      margin: 5px 0;
    }
  }
  & article:hover {
    background-color: rgb(var(--dark-background-color) / 0.8);
  }
}

/* Assignment Page */

#assignment {
  border: 1px solid var(--dark-accent-color);
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.4);

  header {
    border: none;
  }

  & h2 {
    margin: 0;
  }

  & .due {
    margin: 0;
  }

  & p.question {
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid var(--dark-accent-color);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: var(--border-radius);
  }

  & a.rth {
    color: #fff;
    text-align: center;
    display: block;
    margin: auto;
    background: red;
    padding: 10px;
    width: 160px;
    border-radius: var(--border-radius);
    background-color: rgb(var(--dark-background-color) / 1);
    border: 1px solid var(--dark-accent-color);
  }

  a:hover {
    text-decoration: none;
  }
}

/* Dark mode styles */
body.dark {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  color: #ffffff;
}

/* Light mode styles */
body.light {
  background-color: #fff;
  color: #000000;
  background-image: url(../img/vector-light.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  & #assignment-grid {
    background-color: rgb(var(--dark-background-color) / 0.8);
  }
  & #assignment {
    border: 1px solid var(--dark-accent-color);
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: rgb(var(--dark-background-color) / 0.2);

    & h2 {
      margin: 0;
    }

    & .due {
      margin: 0;
    }

    & p.question {
      font-weight: bold;
      font-size: 1.2rem;
      border: 1px solid var(--dark-accent-color);
      background-color: rgba(0, 0, 0, 0.2);
      padding: 10px;
    }
  }
}

/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
